{% extends 'main/base.html' %}
    {% load i18n %}

{% block content %}
<!--body-->
<div class="container-fluid home_body_container">
    <div class="row" style="padding-bottom: 200px">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <p class="category_followed">{% blocktrans %}フォローしているカテゴリー{% endblocktrans %}</p>
            {% for c in categories %}
                <a href="{% url 'news_app:news' %}?category={{ c.category_en }}" style="text-decoration: none">
                    <button class="border_radius_button hover_color_button category_item">
                         <p>{{ c.category }}</p>
                    </button>
                </a>
            {% endfor %}
            <div class="col-sm-3 wrap_plus_button_mobile">
                <a href="{% url 'news_app:categories' %}" style="text-decoration: none">
                <button class="hover_color_button primary_color plus_button">
                    <i class="fa-solid fa-plus plus_icon"></i>
                </button>
                </a>
        </div>
        </div>
        <div class="col-sm-3 wrap_plus_button_pc">
            <a href="{% url 'news_app:categories' %}">
            <button class="hover_color_button primary_color plus_button">
                <i class="fa-solid fa-plus plus_icon"></i>
            </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
