{% extends 'main/base.html' %}
{% load i18n %}
{% block content %}
<div class="news_detail_page">
    <div class="news_wrap">
         <!--body-->
        <div class="row" style="margin: 4% 0;">
            <div class="col-sm-4 news_detail_page_img_wrap">
                <img src="{{news.photo}}" style="max-width: 300px;">
            </div>
            <div class="col-sm-8">
                <b><p style="font-size: 20px;">{{ news.title }}</p></b>
                <p style="font-size: 20px;">{{ news.description }}</p>
                <div style="display: flex; justify-content: end;">
                    <div style="font-size: 36px;">
                        {% if saved %}
                            <div class="save">
                                <a href="{% url 'news_app:delete' id=news.id arg=arg %}"><i class="fa-solid fa-bookmark" style="color: #a98fd9;"></i></a>
                            </div>
                        {% else %}
                            <div class="not_save">
                                <a href="{% url 'news_app:save' id=news.id %}"><i class="fa-regular fa-bookmark" style="color: #a98fd9;"></i></a>
                            </div>
                        {% endif %}
                    </div>
                    <button class="category_button more_read_button"><a href="{{ news.url }}" style="text-decoration: none; font-size: 22px; color: #e2d9f3;">{% blocktrans %} 続きを読む {% endblocktrans %}</a></button>
                </div>
            </div>
        </div>

<!--        Comment input-->
        <div class="comment_container" style="border: none; ">
            <div class="comment_header" style="display: flex; justify-content: start;">
                <p style="font-size: 40px; margin: 8px 10px 0 20px;">
                    <i class="fa-regular fa-comments"></i>
                </p>
                <p style="font-size: 22px; margin: 26px 10px 10px 6px; font-weight: 600;">コメント</p>
                <p style="font-size: 26px; margin: 23px 0 10px 6px; font-weight: 600;">{{ comments|length }}</p>
                <p style="font-size: 22px; margin: 26px 10px 10px 2px; font-weight: 600;">件</p>
            </div>
            <div class="comment_body">
                <form method="post" style="display: flex; flex-direction: column; align-items: end;">
                    {% csrf_token %}
                    <div style="padding: 0 3% 0 3%; width: 100%; ">
                        <input class="comment_input" name="comment" required="" id="id_comment" placeholder="コメントを入力してください">
                    </div>
                    <button class="category_button" type="submit">{% blocktrans %}保存する{% endblocktrans %}</button>
                </form>
            </div>
        </div>

        <!--Commented List-->
        <ul style=" margin: 4% 0 30% 0;">
        {% for comment in comments %}
            <li style="list-style: none;">
                <span style="font-size: 16px; background-color: #a98fd9; border-top-left-radius: 10px; border-bottom-right-radius: 10px; padding: 1px 8px;">{{ comment.user.username }}</span>
                <span style="font-size: 12px; margin-left: 6px;">{{ comment.created_at }}</span>
                <p style="word-wrap: break-word"> {{ comment.comment }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}