{% extends 'main/base.html' %}
{% block content %}
<!--body-->
<div class="container-fluid"  style="margin-top: 6%">
    <div class="row" style="padding: 20px 0 0 30px;">
        <div class="category_wrap" style=" border-right: solid 1px #545454; width: 17%; display: flex; flex-direction: column; position: fixed; left: 51px;">
            {% for c in categories %}
            <button class="category_button hover_color_button categories" style="margin-bottom: 20px;" url-id={{ c.category_en }}>{{ c.category }}</button>
            {% endfor %}
        </div>
        <div class="col-sm-2" >

        </div>
        <div class="col-sm-6" style="margin-left: 10%; padding: 0; ">
            {% for c in categories %}
            <p class="category_title" style="font-size: 56px; text-align: center; color: #545454;">{{ c.category }}</p>
            {% endfor %}

            <ul id="news-container" style="list-style: none;">


            </ul>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const categories = document.querySelectorAll(".categories");

        categories.forEach((category) => {
            category.addEventListener("click", (e) => {
                e.preventDefault();

                const urlId = category.getAttribute("url-id");

                console.log(urlId);

                fetch(`news/${urlId}`)
                    .then((response) => response.json())
                    .then((data) => {

                        const news = data.news;

                        const newsContainer = document.getElementById("news-container"); // Changed getElementsById to getElementById

                        newsContainer.innerHTML = "";

                        news.forEach((newsObj) => {
                            const content = document.createElement("li");
                            content.innerHTML = `
                                <div class="row border_radius_news_item" style='margin-bottom: 30px;'>
                                    <div class="col-sm-3">
                                        <img src="${newsObj.photo}" alt="No photo" style="width: 90%; height: 60%; margin: 16% 0px 0 8%;">
                                    </div>
                                    <div class="col-sm-9">
                                        <h4><a href="${newsObj.url}"><b>${newsObj.title}</b></a></h4>
                                        <p>${newsObj.source}</p>
                                    </div>
                                </div>
                                `;
                            newsContainer.appendChild(content);
                        });
                    });
            });
        });
    });

    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    const tabs = $$('.category_button')
    const titles = $$('.category_title')

    tabs.forEach((tab, index) => {
        const title = titles[index]

        tab.onclick = function () {
            if (($('.category_button.active')) && ($('.category_title.active'))) {
                $('.category_button.active').classList.remove('active')
                $('.category_title.active').classList.remove('active')

                this.classList.add('active')
                title.classList.add('active')
            } else {
                this.classList.add('active')
                title.classList.add('active')
            }
        }
    })
</script>
{% endblock %}
