* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* loading */
.loading_wrap {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(226, 217, 243, 0.8);
    z-index: 9;
    display: none;
    transition: opacity 0.75s, visibility 0.75s;
}
.loading_wrap.open {
    display: block;
}
.loading {
    margin: 20% auto;
    position: relative;
    width: 7rem;
    height: 7rem;
}
.loading img {
    width: 100%
}

/*header*/
.container_nav_bar {
    position: fixed;
    top: 0;
    border-bottom: 6px solid white;
    z-index: 3;
}
.nav_bar_logo {
    width: 200px; height: 63px; margin: 6px 16px
}
.nav_bar_avtar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.language_out_option {
        display: block;
}
.language_in_option {
    display: none;
}
.option_menu_wrap {
    padding: 0.7% 0 0 4%;
}
.options_account_list {
    position: absolute;
    text-decoration: none;
    font-size: 22px;
    right: 1%;
    top: 118%;
    box-shadow: -3px 3px 10px 0px #a98fd9;
    z-index: 1;
    display: none;
}
.option_item {
    text-decoration: none;
    color: #a98fd9 ;
}
.options_account_list p {
    margin: 0;
    padding: 8px 14px;
    background-color: #e2d9f3;
}
.options_account_list p:hover {
    background-color: #a98fd9;
}
.options_account_list p:hover .option_item {
    color: #e2d9f3;
}
.options_account_list.open {
    display: block;
}
.options_account_list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -58px;
    border-width: 29px 30px;
    border-style: solid;
    border-color: transparent transparent #e2d9f3 transparent;
}
.wiki_container {
    position: fixed;
    bottom: 9%;
    right: 1%;
}
.wiki_button {
    font-size: 34px;
    background-color: #a98fd9;
    padding: 0 10px;
    z-index: 9;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 2px solid white;
}
.wiki_button i {
    color: white;
}
.chat_box_container {
    width: 20%;
    position: fixed;
    right: 5%;
    height: 47%;
    bottom: 16%;
    background-color: #a98fd9;
    border-radius: 8px;
    display: none;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border: 2px solid white;
}
.chat_box_container.open{
    display: block;
}
.chat_box_header {
    display: none;
}
.chatbox {
    height: 86%;
    background-color: #e2d9f3;
    padding: 0 6px 14px 6px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-bottom: 8px;
    overflow-y: auto;
}
.chatbox li {
    list-style: none;
}
.chatbox span {
    align-self: flex-end;
}
.chatbox .chat {
    display: flex;
}
.chatbox p {
    margin: 10% 0 0 0;
    height: 100%;
    word-wrap: break-word;
}
.incoming p {
    width: 76%;
    background-color: #c1b4da;
    padding: 6px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.incoming i {
    font-size: 18px;
    background-color: #a98fd9;
    padding: 6px;
    margin: 50% 6px 0 0;
    border-radius: 4px;
}
.outgoing {
    justify-content: flex-end;
}
.outgoing p {
    width: 75%;
    background-color: #a98fd9;
    padding: 6px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.chat_box_body {
    background-color: #e2d9f3;
    width: 100%;
    height: 86%;
    margin-bottom: 6px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.chat_box_food {
    display: flex;
}
.chat_box_input {
    height: 34px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: #e2d9f3;
    padding: 6px 0 0 10px;
    border: none;
    font-size: 13px;
    flex: 9;
    margin: 0 0 0 10px;
}
.chat_box_input:focus {
    outline:none
}
.submit_button {
    font-size: 19px;
    padding: 0 6px 0 7px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border: none;
    flex: 1;
    margin: 0 10px 0 10px;
    background-color: #e2d9f3;
}
.submit_button i{
    color: #a98fd9;
}

/*home body*/
.primary_color {
    background-color: #a98fd9;
}
.home_body_container {
    margin-top: 4%;
    position: relation;
    z-index: 0
}
.category_followed {
    font-size: 50px;
    text-align: center;
    margin: 40px 0;
    color: #545454
}
.category_item {
    width: 100%;
    height: 110px;
    margin-bottom: 40px;
}
.category_item p {
    font-size: 40px;
    margin: 0;
    text-align: center
}
.category_button.active {
    background-color: #e2d9f3 !important;
    color: #a98fd9 !important;
}
.category_title {
    display: none;
}
.category_title.active {
    display: block;
}
.category_button {
    font-size: 20px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #a98fd9;
    color: white;
    border: none;
    width: 220px;
    height: 46px;
}
.border_radius_button {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #a98fd9;
    color: white;
    border: none;
}
.border_radius_news_item {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
    color: black;
    border: black solid 1px !important;
}
.hover_color_button:hover {
    background-color: #e2d9f3 !important;
    color: #a98fd9 ;
    transition: ease-in 200ms,
    ease-out 200ms;
}
.wrap_plus_button_pc {
    position: relative;
    display: block;
}
.wrap_plus_button_mobile {
    display: none
}
.plus_button {
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: -20px;
    height: 80px;
    width: 80px;
    right: 60%;
}
.plus_button:hover .plus_icon {
    color: #a98fd9 ;
}
.plus_icon {
    color: white ;
    font-size: 50px;
}

/* logout-verify */
.confirm_button {
    width: 18%;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 0;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}
.yes_button {
    background-color: #e35d6a;
    transition: 0.2s;
    margin: 0 5% 0 10%;
}
.yes_button_a {
    text-decoration: none;
    color: #b23948;
}
.yes_button:hover {
    background-color: #e2d9f3;
}
.yes_button:hover .yes_button_a {
    color: #e35d6a !important;
}
.no_button {
    background-color: #75b798;
    transition: 0.2s;
    margin: 0 10% 0 5%;
}
.no_button_a {
    text-decoration: none;
    color: #ffff;
}
.no_button:hover {
    background-color: #e2d9f3;
}
.no_button:hover .no_button_a {
    color: #198754 ;
}
.container_logout_verify {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(226, 217, 243, 0.8);
    display: none;
    z-index: 9;
}
.container_logout_verify.open {
    display: flex;
    justify-content: center;
}
.js-logout-container {
    margin-top: 12%;
    width: 600px;
    height: 270px;
    background-color: #ffff;
    box-shadow: 0 0 60px 20px #a98fd9;
    padding: 2% 2% 4% 2%;
}
.js-logout-container div {
    margin-left: 22%;
}

.logout_notify {
    font-size: 40px;
    font-size: 40px;
    margin: 6% 0 6% 0;
    text-align: center;
}
/* set password */
.set_pass li {
    margin-left: 4%;
    color: #72a56f;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
/* Comment */
.comment_body .category_button {
    margin: 1% 3% 1% 0;
    position: relative;
    font-size: 24px;
    color: #e2d9f3;
    width: 14%;
}
.comment_input {
    width: 100%;
    height: 46px;
    background-color: rgba(226, 217, 243, 0.5);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 4px 30px;
    border: none;
}
.comment_input:focus {
    box-shadow: 0 0 10px 0 #a98fd9;
    border: none;
}
/* log in */
.login_container {
    border: 1px solid black;
    box-shadow: 0 0 100px 8px #a98fd9;
    padding: 2%;
    border: none;
}
.login_wrap {
    margin-top: 6%
}
.login_button {
    width: 30%;
}
.login_label {
    font-size: 26px;
    font-weight: 600;
    color: #5f6368;
    text-align: center;
}
.label_form {
    font-size: 22px;
    color: #5f6368;
}
.input_form {
    width: 100%;
    padding: 1% 2%;
    margin: 2% 0 4% 0;
}
/* category page */
.category_page_name {
    font-size: 50px;
    center; margin: 40px 0;
    color: #545454;
}
/* news page */
.category_wrap {
     border-right: solid 1px #545454;
     width: 17%;
     display: flex;
     flex-direction: column;
     position: fixed;
     left: 30px;
}
.category_wrap_mobile {
    display: none;
}
.news_item_wrap {
    margin-left: 20%;
    padding: 0 4%;
}
.news_item_wrap .category_title {
    font-size: 56px;
    text-align: center;
    color: #545454;
}
/* news_detail */
.news_detail_page {
    display: flex;
    justify-content: center;
}
.news_wrap {
    width: 70%;
}
.save ,
.not_save {
    display: block;
}
.more_read_button {
    width: 20%;
    margin: 0 4%;
}
/* Edit profile*/
.container_profile {
    margin-top: 6%;
    justify-content: center;
}
/* History and Bookmark */
.HisBook_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 22px 0 #a98fd9;
    margin: 6% 24% 0 24%;
}
.header_HisBook img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 28px;
}
.HisBook_edit_btn {
    margin: 1% 2% 0 0;
}
.HisBook_edit_btn a {
    color: white;
    padding: 1px 6px 6px 10px;
}
.HisBook_edit_btn a:hover {
    background-color: #b7a9d0;
}
.HisBook_item_pic img {
    width: 100%;
    height: 60%;
}
.HisBook_item_title {
    font-size: 22px;
}
.title {
    width: 100%;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin: 0;
    padding: 2px 0 4px 0;
    color: white;
    background-color: #b7a9d0;
    cursor: pointer;
}
.title.active {
    width: 100%;
    color: #a98fd9;
    background-color: white;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;
    border-bottom: 6px solid #b7a9d0;
}
.fromRightToLeft.active {
    animation: rightLeft ease 0.5s;
}
.fromLeftToRight.active {
    animation: leftRight ease 0.5s;
}
@keyframes rightLeft {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0)
    }
}
@keyframes leftRight {
    from {
        transform: translateX(-100%)
    }
    to {
        transform: translateX(0)
    }
}
.history_wrap,
.bookmark_wrap {
    display: none;
}
.history_wrap.active,
.bookmark_wrap.active {
    display: block;
}

/* Category page */
.icon_item {
    font-size: 42px;
    padding: 2px 16px 3px 16px;
    border-radius: 50%;
    background-color: #e2d9f3;
    margin: 20px;
}
.hover_color_button:hover .icon_item {
    background-color: #a98fd9;
}
.hover_color_button:hover .icon_item i {
    color: #e2d9f3;
}
.icon_item:hover {
    box-shadow: 0 0 20px 8px;
    transition: 0.1s
}
/* Error */
.ErrorBody {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 110px;
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.error-container {
    padding: 50px;
    max-width: 700px;
    background-color: #fff;
    box-shadow: 0 0 100px 8px #a98fd9;
    width: 100%;
    text-align: center;
}
.error-icon {
    color: #f00;
    font-size: 52px;
}
.error-message {
    color: #333;
    font-size: 26px;
    margin-top: 10px;
}
.ComeBackButton {
    font-size: 32px;
    padding: 6px 20px;
    margin-top: 36px;
    border: none;
    background: white;
    box-shadow: 0 0 36px 10px #a98fd9;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.ComeBackButton:hover {
    background-color: #bca8e1;
    box-shadow: 0 0 36px 10px #a98fd9;
    transition: 0.3s;
    cursor: pointer;
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
    /* loading */
    .loading {
        margin: 80% auto;
    }
    /* head */
    .container_nav_bar {
        height: 5em;
        position: relation;
    }
    .nav_bar_logo {
        width: 150px;
        height: 42px;
        margin: 16px 0px;
    }
    .option_menu_wrap {
        position: absolute;
        top: 12%;
        left: 80%;
    }
    .options_account_list {
        width: 46%;
        right: 80%;
        top: 125%;
        animation: modalShowOut ease 0.6s;
    }
    @keyframes modalShowOut {
        from {
            opacity: 0;
            right: 0;
        }
        to {
            opacity: 1;
            right: 80%;
        }
    }
    .options_account_list::after {
        display: none;
    }
    .options_account_list p {
        padding: 10px 14px;
    }
    .language_out_option {
        display: none;
    }
    .language_in_option {
        display: block;
        background-color: #e2d9f3;
        padding-left: 6px;
    }
    .language_in_option select{
        border: none;
        box-shadow: 0 0 6px 2px #a98fd9;
    }
    .container_logout_verify .row {
        margin-top: 20%;
        animation: LogoutVerifyShowOut ease 0.9s
    }
    @keyframes LogoutVerifyShowOut {
        from {
            opacity: 0;
            translateY: transform(-140px);
        }
        to {
            opacity: 1;
            translateY: transform(0);
        }
    }
    .js-logout-container {
        width: 86%;
        margin-top: 40%;
    }
    .js-logout-container .row {
        justify-content: space-evenly;
        margin: 0;
    }
    .logout_notify {
        font-size: 34px;
    }
    .confirm_button {
        width: 28%;
    }

    /* home body*/
    .category_followed {
        margin: 80px 0 24px 0;
        font-size: 244%;

    }
    .category_item {
        width: 100%;
        height: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category_item p {
        font-size: 30px;
    }
    .wrap_plus_button_pc {
        display: none;
    }
    .wrap_plus_button_mobile {
        height: 110px;
        display: flex;
        justify-content: flex-end;
    }
    .plus_button_mobile {
        right: 3%;
        width: 70px;
        height: 70px
    }
    .plus_button {
        position: static;
    }
    /* log in*/
    .login_wrap {
        display: flex;
        justify-content: center;
        margin-top: 28%
    }
    .login_container {
        width: 76%;
    }
    /* Edit profile */
    .container_profile {
        margin: 32% 0 16% 0;
    }
    /* profile */
    .header_HisBook img {
        margin: 28px 10px;
    }
    .HisBook_container {
        display: flex;
        justify-content: center;
        margin: 20% 2% 0 2%;
    }
    .HisBook_container .col-sm-6 {
        width: 90%;
    }
    .HisBook_item_pic {
        margin-bottom: 20px;
    }
    .HisBook_item_pic img {
        width: 100%;
        height: 100%;
    }
    .HisBook_item_title{
        font-size: 20px;
    }
    /* news detail page */
    .news_wrap {
        width: 86%;
    }
    .news_wrap img {
        width: 100%;
    }
    .news_detail_page_img_wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 70px 0 20px 0;
    }
    .more_read_button {
        width: 32%;
    }
    more_read_button a {
        font-size: 20px;
        padding: 0 2px;
    }
    /* comment */
    .comment_body .category_button {
        width: 26%;
        font-size: 20px;
        margin: 6% 3% 1% 0;
    }
    /* news page */
    .category_wrap {
        display: none;
    }
    .news_page_container {
        padding: 0;
    }
    .category_wrap_mobile {
        display: flex;
        background-color: #e2d9f3;
        box-shadow: 0 0 16px 2px #a98fd9;
        overflow-x: auto;
        white-space: nowrap;
        margin: 28% 4% 6% 4%;
    }
    .category_wrap_mobile .category_button {
        margin: 3% 3% 3% 3%;
        padding: 0 2%;
    }
    .news_item_wrap {
        margin: 0;
    }
    .news_item_wrap .news-container img{
        margin: 6%;
    }
    .news_item_wrap .category_title {
        font-size: 28px;
    }
    .category_wrap_mobile .category_button.active {
        border: 1px solid #a98fd9;
        box-shadow: 0 0 20px 0px #a98fd9;
    }
    /* category page*/
    .category_page_name {
        font-size: 244%;
    }
    /* wiki */
    .wiki_button {
        border: 2px solid #e2d9f3;
        font-size: 28px;
    }
    .chat_box_container {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        display: none;
        border-radius: 0;
    }
    .chat_box_container.open{
        display: block;
    }
    .chat_box_header {
        display: block;
        background-color: #a98fd9;
        height: 8%;
        color: white;
        display: flex;
    }
    .chat_box_header p {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        flex: 16;
        padding-top: 2%;
        margin-left: 8%;
    }
    .out_button {
        padding: 6px 10px;
        flex: 1;
        margin-bottom: 26px;
        background-color: #a98fd9;
        border: none;
    }
    .out_button i {
        font-size: 28px;
        margin-bottom: 26px;
        color: #e2d9f3;
    }
    .chatbox{
        height: 84%;
        border-radius: 0;
        margin-bottom: 10px;
    }
    .incoming {
        font-size: 18px;
    }
    .chat_box_input {
        height: 40px;
    }
}
/* Ipad */
@media only screen and (min-width: 46.1875em) and (max-width: 63.9375em) {

}
/* Pc */
@media only screen and (min-width: 64em) {

}