{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="row" style="margin-top: 6%">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 login_container" style="padding: 2%; border: none">
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.password.id_for_label }}" class="label_form">パスワード</label>
                <br>
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="input_form"/>
            <div style="display: flex; justify-content: center; margin-top: 4%;">
                <button class="category_button hover_color_button"  type="submit" style="width: 30%">次に</button>
            </div>
        </form>
    </div>
    <div class="col-sm-4">

    </div>
</div>
{% endblock content %}