{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="row container_profile">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 login_container" style="padding: 2%; border: none">
        <p class="login_label">プロファイル編集</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
<!--        change picture-->

            <input type="file" name="profile_pic" accept="image/*" id="id_profile_pic" style="display: none;">
            <div style="display: flex; justify-content: center; position: relative">
                <img id="profilePicPreview" src="{% if request.user.profile_pic %}{{ request.user.profile_pic.url }}{% else %}{% static 'path/to/default/image.jpg' %}{% endif %}" alt="Profile Preview" style="width: 200px; height: 200px; border-radius: 50%;">
                <button type="button" id="changeProfilePicBtn" style="width: 24px; height: 24px; border: none; border-radius: 50%; position: absolute; top: 78%; right: 32%; box-shadow: 0px 0px 12px 6px #a98fd9;">
                <i class="fa-regular fa-pen-to-square"></i>
            </button>
            </div>
            <br>
<!--        change name-->
            <div style="display: flex; justify-content: center;">
                <input type="text" name="username" value="{{request.user}}" maxlength="150" required="" id="id_username" style="width: 70%; padding: 5px; margin: 10px 0 20px 0">
            </div>
            <br>
            <div style="display: flex; justify-content: center;">
                <button class="category_button hover_color_button"  type="submit" style="width: 30%">保存</button>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 8%;">
                <p><a href="{% url 'user:change_pass' %}">Change password</a></p>
            </div>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('id_profile_pic');
        const profilePicPreview = document.getElementById('profilePicPreview');
        const changeProfilePicBtn = document.getElementById('changeProfilePicBtn');

        changeProfilePicBtn.addEventListener('click', function () {
            fileInput.click();
        });

        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];

            if (file) {
                // Update the image preview
                profilePicPreview.src = URL.createObjectURL(file);
            }
        });
    });
</script>


{% endblock content %}