{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} mt-4" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row login_wrap">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4 login_container">
        <p class="login_label">ログイン</p>
        <form method="post">
            {% csrf_token %}
            <label for="{{ form.email.id_for_label }}" class="label_form">メールアドレス</label>
                <br>
            <input type="text" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="input_form"/>
            <br>
            <label for="{{ form.password.id_for_label }}" class="label_form">パスワード</label>
                <br>
            <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="input_form"/>
            <div style="display: flex; justify-content: center; margin-top: 4%;">
                <button class="category_button hover_color_button login_button"  type="submit">ログイン</button>
            </div>
            <div style="display: flex; justify-content: center; margin-top: 8%;">
                <p><a href="{% url 'user:email_confirm' %}">無料会員</a> / <a href="{% url 'user:email_confirm' %}">パスワードを忘れた方</a></p>
            </div>
        </form>
    </div>
    <div class="col-sm-4">

    </div>
</div>
</body>
</html>