/*header*/

.options_account_list {
    position: absolute;
    font-size: 22px;
    right: 1%;
    top: 11%;
    box-shadow: -3px 3px 10px 0px #a98fd9;
    z-index: 1;
    display: none;
}
.options_account_list.open {
    display: block;
}
.options_account_list::after {
    content: "";
    position: absolute;
    right: 3px;
    top: -58px;
    border-width: 29px 30px;
    border-style: solid;
    border-color: transparent transparent #e2d9f3 transparent;
}
.option_item {
    margin: 0;
    padding: 8px 14px;
    background-color: #e2d9f3;
    color: #a98fd9 ;
}
.option_item:hover {
    background-color: #a98fd9;
    color: #e2d9f3;
}

/*body*/
.primary_color {
    background-color: #a98fd9;
}
.category_button.active {
    background-color: #e2d9f3 !important;
    color: #a98fd9 !important;
}
.category_title {
    display: none;
}
.category_title.active {
    display: block;
}
.category_button {
    font-size: 20px;
    border-top-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #a98fd9;
    color: white;
    border: none;
    width: 220px;
    height: 46px;
}
.border_radius_button {
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: #a98fd9;
    color: white;
    border: none;
}
.border_radius_news_item {
    width: 100%;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: white;
    color: black;
    border: black solid 1px !important;
}
.hover_color_button:hover {
    background-color: #e2d9f3 !important;
    color: #a98fd9 ;
    transition: ease-in 200ms,
    ease-out 200ms;
}
.plus_button:hover .plus_icon{
    color: #a98fd9 ;
}
.plus_icon {
    color: white ;
}



