.login_container {
    border: 1px solid black;
    box-shadow: 0 0 100px 8px #a98fd9;
}
.login_label {
    font-size: 26px;
    font-weight: 600;
    color: #5f6368;
    text-align: center;
}
.label_form {
    font-size: 22px;
    color: #5f6368;
}
.input_form {
    width: 100%;
    padding: 1% 2%;
    margin: 2% 0 4% 0;
}

