<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load i18n %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="js-modal-container">
    <div class="container-fluid primary_color container_nav_bar">
        <div class="row ">
            <div class="col-sm-2">
                <a href="{% url 'news_app:home' %}">
                    <img class="nav_bar_logo" src="{% static 'media/logo.png' %}">
                </a>
            </div>
            <div class="col-sm-8" >
            </div>
            <div class="col-sm-1">
                <form class="language language_out_option" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
            </div>
            <div  class="col-sm-1 js-option-button option_menu_wrap">
                {% if request.user.username %}
                    <img class="nav_bar_avtar" src="{{ request.user.profile_pic.url }}">
                    <div class="options_account_list">
                        <p><a class="option_item" href="{% url 'news_app:history_saved' %}">{% blocktrans %}プロファイル{% endblocktrans %}</a></p>
                        <div class="language_in_option">
                            <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go">
                            </form>
                        </div>
                        <p class="js-logout"><a class="option_item" href="{% url 'user:logout' %}">{% blocktrans %}ログアウト{% endblocktrans %}</a></p>
                    </div>
                {% else %}
                    <img class="nav_bar_avtar" src="{% static 'media/default.jpg' %}">
                    <div class="options_account_list">
                        <div class="language_in_option">
                            <form class="language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                <select name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                            {{ language.name_local }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go">
                            </form>
                        </div>
                        <p><a class="option_item" href="{% url 'user:login' %}">{% blocktrans %}ログイン{% endblocktrans %}</a></p>
                        <p><a class="option_item" href="{% url 'user:email_confirm' %}">{% blocktrans %}サインイン{% endblocktrans %}</a></p>
                    </div>
                {% endif %}
                <div class="wiki_container chatbot">
                    <div class="wiki_button">
                        <i class="fa-regular fa-comment-dots fa-flip-horizontal"></i>
                    </div>
                    <div class="chat_box_container">
                        <ul class="chatbox">
                            <li class="chat incoming">
                                <span class="material-symbols-outlined"><i class="fa-solid fa-headset"></i></span>
                                <p>Hi there <br>How i can help you today</p>
                            </li>
                        </ul>
<!--                        <div class="chat_box_body" id="messages">-->

<!--                        </div>-->
                        <div class="chat_box_food">
                            <textarea class="chat_box_input" placeholder="入力してください"></textarea>
                            <button class="submit_button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container_logout_verify">
            <div class="col-sm-4 js-logout-container">
                <h3 class="logout_notify">{% blocktrans %}ログアウトしてもよろしいですか？{% endblocktrans %}</h3>
                <div class="row">
                    <button class="col-sm-6 confirm_button yes_button">
                        <a class="yes_button_a" href="{% url 'user:logout' %}">{% blocktrans %}はい{% endblocktrans %}</a>
                    </button>
                    <button class="col-sm-6 confirm_button no_button">
                        <a class="no_button_a" href="{% url 'news_app:home' %}">{% blocktrans %}いいえ{% endblocktrans %}</a>
                    </button>
                </div>
            </div>
    </div>
    <div class="loading_wrap">
            <div class="loading">
                <img src="{% static 'media/loading.gif' %}" alt="Animated GIF">
            </div>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-4" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchBtn = document.querySelector('.submit_button');
        const chatBoxBody = document.getElementById('messages');
        const chatbox = document.querySelector(".chatbox");

        searchBtn.addEventListener('click', function() {
            const keyword = document.querySelector('.chat_box_input').value;
            if (keyword.trim() !== '') {
                fetch(`/main/wiki-search/${keyword}/`)
                    .then(response => response.json())
                    .then(data => {
                        chatbox.appendChild(createChatLi("Searching...", "incoming"));
                        chatbox.appendChild(createChatLi(data.result, "incoming"));
                        chatBoxBody.innerHTML = data.result;
                    })
                    .catch(error => {
                        console.error('Error fetching wiki data:', error);
                    });
            } else {
                console.log('Please enter a keyword to search.');
            }
        });
    });
</script>
<script>
    const chatInput = document.querySelector(".chat_box_food textarea");
    const sendChatBtn = document.querySelector(".chat_box_food button");
    const chatbox = document.querySelector(".chatbox");
    let userMessage;

    const createChatLi = (message, className) => {
        const chatLi = document.createElement("li");
        chatLi.classList.add("chat", className);
        let chatContent = className === "outgoing" ? `<p>${message}</p>` : `<span class="material-symbols-outlined"><i class="fa-solid fa-headset"></i></span><p>${message}</p>`;
        chatLi.innerHTML = chatContent;
        return chatLi;
    }

    const handleChat = () => {
        userMessage = chatInput.value.trim();
        if(!userMessage) return;

        chatbox.appendChild(createChatLi(userMessage, "outgoing"));
    }


    sendChatBtn.addEventListener("click", handleChat)
</script>
<script>
    const optionBtn = document.querySelector('.nav_bar_avtar')
    const modalContainer = document.querySelector('.js-modal-container')
    const optionOpen = document.querySelector('.options_account_list')
    const chatBoxBtn = document.querySelector('.wiki_button')
    const chatBoxOpen = document.querySelector('.chat_box_container')

    function showOptionList() {
        optionOpen.classList.add('open')
    }
    function removeOptionList() {
        optionOpen.classList.remove('open')
    }
    optionBtn.addEventListener('click', showOptionList)
    modalContainer.addEventListener('click', removeOptionList)

    optionOpen.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    optionBtn.addEventListener('click', function (event) {
        event.stopPropagation()
    })



    function showChatBox() {
        chatBoxOpen.classList.add('open')
    }
    function removeChatBox() {
        chatBoxOpen.classList.remove('open')
    }
    function removeChatBox(event) {
        const isInsideChatBox = event.target.closest('.chat_box_container');

        if (!isInsideChatBox) {
            chatBoxOpen.classList.remove('open');
        }
    }

modalContainer.addEventListener('click', removeChatBox);
    chatBoxBtn.addEventListener('click', showChatBox)
    modalContainer.addEventListener('click', removeChatBox)

    chatBoxBtn.addEventListener('click', function (event) {
        event.stopPropagation()
    })
    chatBoxBtn.addEventListener('click', function (event) {
        event.stopPropagation()
    })
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const logoutBtn = document.querySelector('.js-logout');
        const logoutConfirm = document.querySelector('.container_logout_verify');
        const container = document.querySelector('.js-logout-container');
        const yesButton = document.querySelector('.yes_button');
        const noButton = document.querySelector('.no_button');

        function showBtnConfirm() {
            logoutConfirm.classList.add('open');
        }

        function removeBtnConfirm() {
            logoutConfirm.classList.remove('open');
        }

        function logout() {
            console.log("Logging out...");
            window.location.href = yesButton.href;
        }

        logoutBtn.addEventListener('click', function(event) {
            event.preventDefault();
            showBtnConfirm();
            // Set href attribute for the "Yes" button
            yesButton.href = "{% url 'user:logout' %}";
            console.log("yesButton.href set to: ", yesButton.href);
        });

        yesButton.addEventListener('click', function(event) {
            event.preventDefault();
            console.log("Yes button clicked");
            logout();
        });

        noButton.addEventListener('click', function(event) {
            event.preventDefault();
            console.log("No button clicked");
            removeBtnConfirm();
        });

        container.addEventListener('click', function(event) {
            event.stopPropagation();
        });
    });
</script>

</body>
</html>