{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="ErrorBody">
    <div class="error-container">
        <div class="error-icon">!</div>
        <div class="error-message">
            <p>{% blocktrans %}このアクションの実行中にエラーが発生しました。{% endblocktrans %}</p>
            <p>{% blocktrans %}後で再試行してください。{% endblocktrans %}</p>
            <button class="ComeBackButton" onclick="goBack()">{% blocktrans %}戻る{% endblocktrans %}</button>
        </div>
    </div>
</body>
<script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>

