<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/style.css' %}">
</head>
<body class="ErrorBody">
    <div class="error-container">
        <div class="error-icon">!</div>
        <div class="error-message">
            <p>このアクションの実行中にエラーが発生しました。</p>
            <p>後で再試行してください。</p>
            <button class="ComeBackButton" onclick="goBack()">戻る</button>
        </div>
    </div>
</body>
<script>
    function goBack() {
      window.history.back();
    }
  </script>
</html>

