{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mb-6 chat-container">

    <div class="msg-form pb-6">
        <form id="form">
            <input type="text" name="message">
            <button type="submit" class="btn btn-success submit-comment" style="width: 100px;">
                <p class="icon"  style="width: 100px;">
                    <i class="fa-solid fa-paper-plane" style="color: #e3e3e3; width: 100px;"></i>
                </p>
            </button>
        </form>
    </div>
</div>


{{ request.user.username|json_script:"username" }}
{{ request.user.profile_pic.url |json_script:"profile_pic" }}
{{ chat_room_id|json_script:"json-roomname" }}


<script type="text/javascript">
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const profilePic = JSON.parse(document.getElementById('profile_pic').textContent);
    const userName = JSON.parse(document.getElementById('username').textContent);


    const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/socket-server/'
            + roomName
            + '/'
        );

    chatSocket.onmessage = function(e){
        let data = JSON.parse(e.data);
        let messages = document.getElementById('messages');
        let messageHTML = '';
        if (data.username.trim().toLowerCase() === userName.trim().toLowerCase()) {
            // Message sent by the current user, place on the right
            messageHTML = `
                <div class="message right" style='color: red;'>
                    <b>Me</b> : <p>${data.message}</p>
                </div>
            `;
        } else {
            // Message sent by someone else, place on the left
            messageHTML = `
                <div class="message left" style='color: green;'>
                    <b>Wiki</b> : <p>${data.message}</p>
                </div>
            `;
        }

        messages.insertAdjacentHTML('beforeend', messageHTML);
    }


    let form = document.getElementById('form')
    form.addEventListener('submit', (e)=> {
        e.preventDefault()
        let message = e.target.message.value
        chatSocket.send(JSON.stringify({
            'keyword': keyword,
        }))
        form.reset()
    })


</script>



{% endblock %}